<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="swarm_topic" default="compton_localization/swarm_control"/>

  <arg name="uav_names" default="" />
  <arg name="custom_config" default="" />

  <group ns="$(arg uav_name)">

    <node name="compton_localization" pkg="nodelet" type="nodelet" args="standalone compton_localization/ComptonLocalization" output="screen">

      <rosparam file="$(find compton_localization)/config/default.yaml" command="load" />
      <rosparam if="$(eval not arg('uav_names') == '')" file="$(arg uav_names)" />
      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <param name="uav_name" value="$(arg uav_name)" />
      <param name="swarm_topic" value="$(arg swarm_topic)" />

      <!-- subscribed topics -->
      <!-- <remap from="~pose_in" to="compton_filter/pose_3D" /> -->
      <remap from="~pose_in" to="compton_filter/pose_2D" />
      <remap from="~optimizer_in" to="cone_optimizer/pose" />
      <remap from="~odom_in" to="odometry/odom_main" />

      <!-- advertised topics -->
      <remap from="~swarm_out" to="~swarm_control" />

      <!-- services -->
      <remap from="~activate_in" to="~activate" />
      <remap from="~reference_out" to="pathfinder/reference" />
      <!-- <remap from="~reference_out" to="control_manager/reference" /> -->

    </node>

  </group>

</launch>
